/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #top_header_favicon_flex{
        float: none;
      }
    /* Banner section start */
    .banner_content{
        position: absolute;
        height: 80vh;
        top: 65%;
        left: 50%;
        vertical-align: middle;
    }
    .carousel-item img{
        height: 80vh;
        width: 100%;
    }
    .banner_content h1{
        font-size: 45px;
        font-weight: 700;
    }
    .banner_content p{
        width: 280px;
        margin: 30px 0;
        font-size: 10px;
    }
    .btn_learn_more{
        padding: 5px 15px;
        font-size: 14px;
        margin-top: 10px;
    }
    /* Banner section end */
    /* Product slider section start */
    .pre_heading_book_section{
        padding: 2px 10px;
        width: 50%;
    }
    .pre_heading_book_section_bottom{
        padding: 2px 10px;
        width: 50%;
    }
    .pre_heading_book_section_bottom a{
        font-size: 15px;
    }
    .blockquote_footer{
        padding: 10px;
    }
    .card_deck{
        height: 70vh;
    }
     /* Product slider section end */
     .foo_ter{
        padding-left: 25px;
     }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
